<%= form_for @question, html: {class: "form-horizontal", id: "question_form"} do |f| %>
<%= f.hidden_field :thread_id %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :title, class: "control-label" %>
    <%= f.text_area (:title), id: "question_title", class: "span8", rows: 10 %>
  </div>
  <div class="control-group">
    <%= f.label :answer, class: "control-label" %>
    <textarea readonly="readonly" id="question_answer" class="span8"><%= @question.answer %></textarea>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.submit(class: "btn btn-primary") %>
    </div>
  </div>
<% end %>
