<div class="span4" id="sidebar">
  <ul class="nav nav-tabs nav-stacked affix" id="topics">
    <li>
      <%=
      link_to questions_path do
      %>
        All <span class="badge badge-info"><%= Question.all.count %></span><i class='icon-chevron-right'></i>
      <% end %>
    </li>
    <% @topics.each do |topic| %>
    <li>
      <%=
      link_to questions_path(:topic => topic.id) do
      %>
        <%= topic.name %> <span class="badge badge-info"><%= topic.questions.count %></span><i class='icon-chevron-right'></i>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>
<div class="span8" id="content">
  <% if @questions.length == 0 %>
    No questions so far. Try to install our <a title="Drag the link to your Bookmarks Bar to install the bookmarklet" href="javascript:(function() {script=document.createElement('scr'+'ipt');script.type='text/javascript';script.src=document.location.protocol+'//yamoverflow.com/bookmarklet.js?t='+(new Date()-0);document.getElementsByTagName('head')[0].appendChild(script);})();" onclick="alert('Drag the link to your Bookmarks Bar to install');return false;">Add to YamOverflow</a> bookmarklet to your browser and add one yourself.
  <% else %>
    <%
    unless (params[:query].blank?)
    %>
    <h4 class="search-label">Searching for <i><%=params[:query]%></i>...<span class="badge badge-info"><%= @questions.count %></span></h4>
    <% end %>
    <% @questions.each do |question| %>
    <div class="question media">
      <div class="pull-left">
        <img class="media-object" src="<%= question.user[:mugshot_url] %>" width="48" height="48">
      </div>
      <div class="box media-body">
        <%=
          link_to question.title, question
        %>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
