<%# Copyright (c) Microsoft Corporation %>
<%# All rights reserved. %>
<%# Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 %>
<%# THIS CODE IS PROVIDED *AS IS* BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION ANY IMPLIED WARRANTIES OR CONDITIONS OF TITLE, FITNESS FOR A PARTICULAR PURPOSE, MERCHANTABLITY OR NON-INFRINGEMENT. %>
<%# See the Apache Version 2.0 License for specific language governing permissions and limitations under the License. %>

<% if notice %>
  <div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= notice %>
  </div>
<% end %>

<div id="question">
  <div class="title">
    <div class="mugshot">
      <div>
      Q
      </div>
    </div>
    <div class="text">
      <%= @question.title %>
      <%= link_to edit_question_path(@question), :class => "edit" do %>
      <i class="icon-pencil"></i>Edit title
      <% end %>
    </div>
  </div>

  <div class="answer">
    <div class="mugshot">
      <div>
      A
      </div>
    </div>
    <div class="text well well-small">
      <pre><%= @question.answer %></pre>
    </div>
  </div>
</div>

<script>var QUESTION_ID = <%= @question.id %></script>

<%= link_to 'â† Back to list', questions_path, class: "btn btn-success" %>
<%= link_to 'Refresh', refresh_question_path(@question), class: "btn btn-primary" %>
<%= link_to thread_question_path(@question), :id => "thread_button", :class => "btn btn-info" do %>
<span class="is-closed">
  <i class="icon-eye-open icon-white"></i> Show original thread 
</span>
<span class="is-open">
  <i class="icon-eye-close icon-white"></i> Hide original thread 
</span>
<% end %>
<%= link_to "https://www.yammer.com/microsoft.com/messages/#{@question.thread_id}", class: "btn btn-info", :style=> "margin-left: 4px", :target=> "_blank" do %>
<i class="icon-folder-open icon-white"></i> Open in Yammer
<% end %>

<div id="thread_container">
  <%=image_tag "loading.gif", :class => 'loading'%>
</div>
