<% if notice %>
  <div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= notice %>
  </div>
<% end %>

<div id="question">
  <h1><%= @question.title %></h1>
  <div class="well well-small">
    <%= @question.answer %>
  </p>
</div>

<div id="thread_container">
  <a href="<%= "#{questions_path}/#{@question.id}" %>/thread/" id="thread_button">See the original conversation thread</a>
  <img src="/assets/loading.gif" class="loading">
</div>

<script>var QUESTION_ID = <%= @question.id %></script>

<%= link_to 'â† Back to Questions', questions_path, class: "btn btn-success" %>
<%= link_to 'Edit', edit_question_path(@question), class: "btn btn-warning" %>
