<%
def print_recursive(message, first_level = false)
	#return if (@messages.select {|m| m[:replied_to] == message[:id]}).empty?

	%>

	<div class="message<%= " indented" if !first_level %>">
		<div class="header"><img class="mugshot" src="<%=message[:mugshot]%>"/><span class="name"><%= message[:author] %></span></div>
		<div class="body"><%= message[:body] %></div>
		<div class="time"><%= message[:created_at] %></div>

		<%
			(@messages.select {|m| m[:replied_to] == message[:id]}).each do |msg|
				print_recursive(msg)
			end
		%>
	</div>


<%	
end
%>

<% 
top_messages = @messages.select {|msg| msg[:replied_to].blank?}

top_messages.each do |message|
	print_recursive(message, true)
end
%>