<!DOCTYPE html>
<html>
<head>
  <title>Yamoverflow</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <h1><%= link_to "YamOverflow", "/" %></h1>
    </div>
  </header>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash#{name}" %>
  <% end %>

  <div class="container">
    <div class="row">
      <%= yield %>
    </div>
  </div>
</body>
</html>
